@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --size-1: 3rem;                 /* 48 */
  --size-2: 2.75rem;              /* 44 */
  --size-3: 2.5rem;               /* 40 */
  --size-4: 2.25rem;              /* 36 */
  --size-5: 2rem;                 /* 32 */
  --size-6: 1.75rem;              /* 28 */
  --size-7: 1.5rem;               /* 24 */
  --size-8: 1.25rem;              /* 20 */
  --size-9: 1rem;                 /* 16 */
  --size-10: 0.75rem;             /* 12 */
  --size-11: 0.5rem;              /* 08 */
  --size-12: 0.25rem;             /* 04 */
  --size-13: 0.125rem;            /* 02 */
  --size-14: 0.0625rem;           /* 01 */

  --color-primary: #364FC7;
  --color-grey-1: #1E1E1E;
  --color-grey-2: #495057;
  --color-grey-3: #868E96;
  --color-grey-4: #DEE2E6;
  --color-grey-5: #F1F3F5;
  --color-grey-6: #F8F9FA;
  --color-white: #FFFFFF;

  --font-family-1: "Inter", sans-serif;
  --font-family-2: 'Nunito', sans-serif;

  --font-title-1: 1.5rem;         /* 24 */
  --font-title-2: 1.25rem;        /* 20 */
  --font-text-1: 1rem;            /* 16 */
  --font-text-2: 0.875rem;        /* 14 */

  --font-weight-1: 600;
  --font-weight-2: 500;

  --line-height-1: 2.25rem;         /* 36 */
  --line-height-2: 1.875rem;        /* 30 */
  --line-height-3: 1.5rem;          /* 24 */

  --button-height-1: 1.9375rem;     /* 31 */
  --button-height-2: 1.8125rem;     /* 28 */

  --button-padding-1: 0 1rem;
  --button-padding-2: 0 0.5rem;

  --input-height: 3.25rem;        /* 52 */

  --radius-1: 0.5rem;

  --gap-1: 1.3125rem;

}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
    width: 30.6875rem;
    max-width: 95%;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    height: 10.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: var(-font-title-1);
    color: var(--color-grey-1);
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--input-height);
    background-color: var(--color-grey-6);
    border-radius: var(--radius-1);
    padding: 0 0.625rem;
    margin-bottom: 2.75rem;
}

form input {
    width: 100%;
    height: var(--input-height);
    border: none;
    background-color: var(--color-grey-6);
    border-radius: var(--radius-1) 0 0 var(--radius-1);
    padding-left: 1rem;
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-3);
    outline: none;
}

form button {
    height: var(--button-height-1);
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-2);
    padding: var(--button-padding-1);
    border: none;
    border-radius: var(--radius-1);
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 0.625rem;
    cursor: pointer;
}

.no-tasks h2 {
    font-size: var(--font-title-2);
    color: var(--color-grey-1);
    font-weight: var(--font-weight-2);
    text-align: center;
    margin: 6rem 0;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-1);
}

.task {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--input-height);
    padding: 0 1rem;
    background-color: var(--color-grey-5);
    border-radius: var(--radius-1);
}

.task-description {
    font-size: var(--font-text-1);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-2);
}

.delete-task {
    height: var(--button-height-1);
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-2);
    padding: var(--button-padding-2);
    border: none;
    border-radius: var(--radius-1);
    background-color: var(--color-grey-4);
    cursor: pointer;
}









